snippet st "console.log" br
console.log(${0});
endsnippet

snippet f "function" br
function ${1:newFunction}(${2:arg}) {
  ${0}
}
endsnippet

snippet fm "function method" br
${1:newFunction}(${2:arg}) {
  ${0}
}
endsnippet
