snippet st "console.log" br
console.log(${0});
endsnippet

snippet f "function" br
function ${1:newFunction}(${2:arg}) {
  ${0}
}
endsnippet

snippet fm "function method" br
${1:newFunction}(${2:arg}) {
  ${0}
}
endsnippet

snippet clp "this.$log.log" br
this.$log.log(JSON.stringify(${0}, null, 2));
endsnippet

snippet cle "this.$log.error" br
this.$log.error(${0});
endsnippet

snippet cl2 "this.$log.warn" br
this.$log.warn(${0});
endsnippet
