snippet reactT "React Template" br

import React { useState } from 'react';
import { useTranslation } from 'react-i18next';

function ${0} {
	const { t } = useTranslation();
	return (
		<div></div>
	);
}

export default ${0};

endsnippet

